<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCoKBchgg8tGk1ucLssuh0IjQDJ2IVdIE</string>
	<key>GCM_SENDER_ID</key>
	<string>191258108233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezyBuyAdminn</string>
	<key>PROJECT_ID</key>
	<string>ezybuy-72209</string>
	<key>STORAGE_BUCKET</key>
	<string>ezybuy-72209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191258108233:ios:0c7970ebcfe504af9e7a98</string>
</dict>
</plist>